{
  "parser": "babel-eslint",
  "parserOptions": {
      "sourceType": "module",
      "allowImportExportEverywhere": true
  },
  "extends": ["airbnb", "prettier"],
  "env": {
      "browser": true,
      "node": true
  },
  "rules": {
      "arrow-parens": ["off"],
      "compat/compat": "error",
      "consistent-return": "off",
      "comma-dangle": "off",
      "generator-star-spacing": "off",
      "import/no-unresolved": "error",
      "import/no-extraneous-dependencies": "off",
      "jsx-a11y/anchor-is-valid": "off",
      "no-console": "off",
      "no-use-before-define": "off",
      "no-unused-vars": "off",
      "no-multi-assign": "off",
      "promise/param-names": "error",
      "promise/always-return": "off",
      "promise/catch-or-return": "off",
      "promise/no-native": "off",
      "prefer-destructuring": "off",
      "no-lonely-if": "off",
      "react/jsx-filename-extension": [0],
      "react/prop-types": "off",
      "arrow-body-style": "off",
      "react/button-has-type": "off"
  },
  "plugins": ["import", "promise", "compat"]
}
